doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1='Stats route'

    h2='view all stats'

    code='GET: ' 
    code='/api/stats'

    br
    br

    button#get-all-stats GET Results

    h2='view particular deviation'

    br

    code='GET: ' 
    code='/api/stats?coin='
    code#code-coin=''

    br
    br

    form( method="get")#getcoin
      label="coin"
      input(type="text", name="bitcoin", value="" , placeholder="bitcoin")#coin
      button(type="submit")#get-stat-coin GET Result

    
    br

block scripts
  script(src='/javascripts/link.js')
    

    
   
    
